* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }
  div.container {
    display:flex;
    justify-content: center;
    align-items: top; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;          
  }
  canvas {
    /* min-width: 100vw;
    min-height: 100vh; */
  }